

{% extends "public/base.html" %}

{% block more_css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth/css/email_auth.css') }}">
{% endblock %}

{% block content %}
<main class="container text-center">
   <div class="row">
      <div class="col-12 mx-auto bg-white">
         <h1 class="font-weight-light">SmartClock</h1>
          <h3 class="font-weight-normal"> Email Authentication </h3>
      </div>
   </div>
<div class="row mx-auto bg-info">
    <div class="col-md-2 col-lg-12 bg-info">
     <h1 class="font-weight-light">SmartClock</h1>
    </div>
       <div class="form-label-group">

       </div>
    <div class="col-md-6 col-lg-12 bg-secondary">
     <h1 class="font-weight-light">SmartClock</h1>
    </div>
</div>
</main>
{% endblock %}