.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1494005612480-90f50fd9376f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");
  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
    position: absolute;
    left:0;
    width: 100%;
    padding: 0;
    margin: 0;
}