{% extends "public/base.html" %}

{% block more_css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/about.css') }}">
{% endblock %}

{% block content %}
<main class="container text-center">
<style>

  background-image: url("https://images.unsplash.com/photo-1494005612480-90f50fd9376f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");


</style>
   <div class="row">
      <div class="col-12">
          <div class="parallax-image">
                 <h1 class="display-1 pt-5 text-white" style="text-shadow:1px 1px 15px #000000; letter-spacing:1px; font-size:7rem;">About Us</h1>
             </div>

          <h3 class = "p-4">Introduction:</h3>
         <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom  pt-3">
             <p>Hello, Welcome to SmartClock! The purpose of this website is to allow for a more streamlined form of communication between employers and employees. This application allows employers to more easily and accurately keep track of an individual employee’s profile.</p>
         </div>
          <h3 class = "p-4">Motivation: </h3>
             <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom pt-3">
                 <p>The main motivation behind the construction of SmartClock is to offer small business employers a more efficient system to track and manage their employees hours. To save small business employers time, we created SmartClock to allow for easier assignments of shifts and an easier platform to modify their employees hourly based salaries.</p>
             </div>
      </div>
   </div>
</main>
{% endblock %}