{% extends "public/base.html" %}

{% block more_css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/home.css') }}">
{% endblock %}

{% block content %}

<main>
<style>

  background-image: url("https://images.unsplash.com/photo-1494005612480-90f50fd9376f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");


</style>
   <div class="container text-center">
      <div class="row">
         <div class="col-12">
             <div class="parallax-image">
                 <h1 class="display-1 pt-5 text-white" style="text-shadow:1px 1px 15px #000000; letter-spacing:1px; font-size:7rem;">Welcome!</h1>
             </div>
             <h3 class = "p-4">Purpose: </h3>
             <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom pt-3">
                 <p>The purpose of SmartClock is to allow small business employers an efficient way to track and manage their employees schedules. It offers a streamlined management system of hourly rates and assignment of shifts, while calculating a more precise time log of the exact hours spent working.</p>
             </div>
             <h3 class = "p-4">Features: </h3>
             <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom pt-3">
                 <p> -Easy login and registration <br> -Allows easy clock in and clock out <br> -Securely hashes passwords for employee protection <br> -Allows employers to manage hourly rates for employees <br> -View and manage user profiles <br> -Offers more precise salary calculation <br> -Overtime pay calculation <br> -Employer approval system for reported hours </p>
             </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}