{% extends "public/base.html" %}

{% block more_css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/home.css') }}">
{% endblock %}

{% block content %}
<main>
   <div class="container text-center">
      <div class="row">
         <div class="col-12">
             <div class="parallax">
                 <h1 class="display-1 pt-5 text-white" style="text-shadow:1px 1px 15px #000000; letter-spacing:1px; font-size:7rem;">Welcome!</h1>
             </div>
             <h3 class = "pt-5 p-3">Purpose: </h3>
             <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom pt-3">
                The purpose of SmartClock is to allow small business employers an efficient way to track and manage their employees schedules. It offers a streamlined management system of hourly rates and assignment of shifts, while calculating a more precise time log of the exact hours spent working.
             </div>
             <h3 class = "pt-5 p-3">Features: </h3>
             <div class="row-cols-1 font-weight-lighter bg-white border-top border-bottom pt-3">
             </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}