{% extends "public/base.html" %}
{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='public/css/login.css') }}">
{% endblock %}
{% block content %}
<main class="content">
   <div class="container">
      <div class="row">
         <div class="col-12 mx-auto">
            <div class="card card-signin flex-row my-5">
               <div class="card-img-left d-none d-md-flex">
                  <!-- Background image for card set in CSS! -->
               </div>
               <div class="card-body">
                  <h5 class="card-title text-center">Sign In</h5>
                  <form class="form-signin" method="post">
                     {{ form.hidden_tag() }}
                     <div class="form-label-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                           {% for error in form.username.errors %}
                           <span>{{ error }}</span>
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                     </div>
                     <div class="form-label-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                           {% for error in form.password.errors %}
                           <span>{{ error }}</span>
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                     </div>
                     <div class="form-label-group">
                        {{ form.token.label(class="form-control-label") }}
                        {% if form.token.errors %}
                        {{ form.token(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                           {% for error in form.token.errors %}
                           <span>{{ error }}</span>
                           {% endfor %}
                        </div>
                        {% else %}
                        {{ form.token(class="form-control form-control-lg") }}
                        {% endif %}
                     </div>
                     <div class="form-label-group">
                        {{ form.remember(class="form-check-input ml-2") }}
                        {{ form.remember.label(class="form-check-label ml-4") }}
                     </div>
                     {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
                     <a class="d-block text-center mt-3 mb-3" href="{{ url_for('register') }}">Sign Up</a>
                  </form>
                  <div class="border-top p-2"> <a href="{{ url_for('resetmessage') }}">Forgot Password?</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}