{% extends "layout.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
        <main class="container p-5">
            <div class="row">
                <div class="col-5 mx-auto">
                    <form method="POST">
                        {{ render_form(form) }}
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mx-auto mt-3">
                    <a class = "mt-5 pt-5" href="#">Forgot Password?</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mx-auto border-top mt-3 lead">
                    <small>
                         Need An Account? <a href="{{ url_for('register') }}">Register Now</a>
                    </small>
                </div>
            </div>
        </main>
{% endblock content %}

