{% extends "layout.html" %}

{% block content %}

        <main class="container text-center">
            <div class="row">
                <div class="col-12 p-5">
                    <h1 class="display-3">Hello, {{current_user.username}}!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-5">
                    <p>THIS SITE IS UNDER CONSTRUCTION FOR -> {{current_user.__repr__()}} </p>
                </div>
            </div>
        </main>

{% endblock content %}